#logo-target {
	width: 100%;
	height: 30rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	patek-logo {
		font-size: 5rem;
		padding: 2rem 2rem 12rem 2rem;
		position: relative;
		top: -0.75rem;
	}
	background-image: linear-gradient(45deg, #acacac 25%, transparent 25%), linear-gradient(-45deg, #acacac 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #acacac 75%), linear-gradient(-45deg, transparent 75%, #acacac 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.input.color {
	width: 3rem;
	&:hover {
		cursor: pointer;
	}
	margin-left: 0.5rem;
}
#inputs {
	input[type=range] {
		margin-left: 0.5em;
	}
}
.svg-in-button {
	margin-left: -5px;
	margin-right: 5px;
}
.label.narrowLabel {
	padding-right: .5em;
}
