<div id="patekcz-warning" class="modal">
	
	<div class="modal-background"></div>
	<div class="modal-content">
		<h1 class="title is-1">
			{{ if eq .Lang "en" }}
				410: <patek-logo>Pátek</patek-logo> is Gone
			{{ else }}
				410: <patek-logo>Pátek</patek-logo> je Pryč
			{{ end }}
		</h1>
		<p>
			{{ if eq .Lang "en" }}
				Well, not gone, just in another castle.
			{{ else }}
				No, ne úplně pryč, jen už není na patek.cz.
			{{ end }}
		</p>
		<p style="font-weight: bold">
			{{ if eq .Lang "en" }}
				We're permanently moving from patek.cz to <a href="https://patekvpatek.cz">patekvpatek.cz</a> and soon, there's going to be a different website there.
			{{ else }}
				Odteď nás najdete na <a href="https://patekvpatek.cz">patekvpatek.cz</a> a na patek.cz bude brzy něco úplně jiného.
			{{ end }}
		</p>
		<p>
			{{ if eq .Lang "en" }}
				Thanks to Alan Fabik for lending us the domain for a few years.
			{{ else }}
				 Děkujeme Alanovi Fabikovi, že nám na pár let půjčil doménu.
			{{ end }}
		</p>
		<a class="button is-large" href="?">
			{{ if eq .Lang "en" }}
				Thanks
			{{ else }}
				Díky za info
			{{ end }}
		</a>
	</div>
</div>
<script>
if (new URL(window.location).searchParams.get("ref") == "patek.cz") {
	document.getElementById("patekcz-warning").classList.add("is-active");
}
</script>
