<div class="pageHeader">
    <h2 class="title pageTitle"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="has-text-grey">{{- T "published" -}}:&nbsp;<time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05.000-0700" }}">{{ .PublishDate.Format "02.01.2006 15:04" }}</time></p>
    <p>{{- T "talks-when" -}}:&nbsp;<time datetime="{{ dateFormat "2006-01-02T15:04:05.000-0700" .Params.when }}">{{ dateFormat "02.01.2006 15:04" .Params.when }}</time> <a rel="alternate" href="{{ (.OutputFormats.Get "Calendar").Permalink | safeURL }}"><span class="icon"><i class="fas fa-calendar-alt"></i></span></a></p>
    <p>
        {{- T "presenter" -}}: {{ range .Params.authors }}{{ with $.Site.GetPage (printf "authors/%s" .) }}<a class="separateWithCommas" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}{{ end }}
    </p>
    {{- with .Params.slides -}}<p>{{ partial "linkedContent" (dict "text" (T "talks-slides" (len .)) "content" . "resources" $.Page.Resources) }}</p>{{- end -}}
    {{- with .Params.recordings -}}<p>{{ partial "linkedContent" (dict "text" (T "talks-recording" (len .)) "content" . "resources" $.Page.Resources) }}</p>{{- end -}}
</div>
