{{ define "main" }}
    <div class="has-text-centered">
    {{ partial "pageHeader.html" (dict "Title" "Page not found" "Permalink" "") }}
    <div class="content">
        <h3>Wut? The page you were looking for is not here. Either you can't type or we can't code. Or both.</h3>
    </div>
    <br>
    <patek-logo class="logo404" title="404">404</patek-logo>
    </div>
{{ end }}
